font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url("./OpenSans-Bold.ttf") format("truetype");
}

font-face {
	font-family: "Open Sans";
	font-weight: 500;
	src: url("./OpenSans-SemiBold.ttf") format("truetype");
}

font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url("./OpenSans-Regular.ttf") format("truetype");
}
