#map {
	width: 500px;
	height: 500px;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 24px 40px;

	button:last-child {
		margin-left: 24px;
	}
}

button {
	margin-top: 12px;
	border: 1px solid #4b48c9;
	color: #4b48c9;
	width: 150px;
	background-color: transparent;
}
