h3 {
	font-weight: 500;
	font-size: 18px;
}

button {
	margin-top: 12px;
	border: 1px solid #4b48c9;
	color: #4b48c9;
	width: 150px;
	background-color: transparent;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	outline: none;
	padding: 7px 8px;
	border-radius: 4px;
	border: 1px solid #d5cccc;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;

	button:last-of-type {
		margin-left: 24px;
	}
}

label {
	margin-right: 32px;
	color: #888888;
	margin-bottom: 8px;
	margin-top: 8px;
}
