<section>
	<h3>Редактирование профиля</h3>
	<form [formGroup]="form">
		<div>
			<label>Имя</label>
			<input matInput formControlName="name">
		</div>
		<div>
			<label>Фамилия</label>
			<input formControlName="secondName">
		</div>
		<div>
			<label>Ник</label>
			<input formControlName="nickname">
		</div>
		<div>
			<label>Почта</label>
			<input formControlName="email">
		</div>
	</form>
	<div class="footer">
		<button mat-button mat-dialog-close>Отмена</button>
		<button mat-button (click)="handle()">Изменить</button>
	</div>
</section>
