<form [formGroup]="form">
	<div>
		<label>Категория</label>
		<input formControlName="category"
			[ngClass]="this.form.get('category')?.invalid && this.form.get('category')?.touched ? 'invalid' : ''">
	</div>
	<div>
		<label>Описание</label>
		<textarea type="text" formControlName="description"
			[ngClass]="this.form.get('description')?.invalid && this.form.get('description')?.touched ? 'invalid' : ''">
		</textarea>
	</div>
	<div>
		<label>Место</label>
		<input formControlName="place"
			[ngClass]="this.form.get('place')?.invalid && this.form.get('place')?.touched ? 'invalid' : ''">
		<button mat-button (click)="addOnMap()" title="Поставить новую точку" [ngClass]="form.get('placeUrl')?.value ? 'marked' : ''"><mat-icon>place</mat-icon></button>
	</div>
	<label *ngIf="!file.value" for="file" class="file-input-label">
		Загрузить фотографию
	</label>
	<label *ngIf="file.value" for="file" class="file-input-label" title="Загрузить другой файл">
		<mat-icon>done</mat-icon>
	</label>
	<input (change)="test($event)" #file id="file" type="file" class="file-input" accept="image/*">
	<mat-checkbox formControlName="isAnonymous">Анонимно</mat-checkbox>
</form>

<div class="footer">
	<button mat-button mat-dialog-close>Отмена</button>
	<button mat-button (click)="addActivity()">Добавить</button>
</div>
