<div class="navbar">
	<mat-button-toggle-group #toggler value="home" (change)="changePage($event)">
		<mat-button-toggle [checked]="true" value="home">Главная</mat-button-toggle>
		<mat-button-toggle value="account">Аккаунт</mat-button-toggle>
		<mat-button-toggle value="messages">Сообщения</mat-button-toggle>
		<mat-button-toggle value="settings">Настройки</mat-button-toggle>
	  </mat-button-toggle-group>
	  <button mat-button (click)="exit()"><mat-icon>exit_to_app</mat-icon>Выйти</button>
</div>

<section *ngIf="page === 'home'">
	<div class="main-container">
		<mat-paginator [length]="activities.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[1, 3, 5, 10]"
			[pageIndex]="pageIndex"
            aria-label="Select page"
			(page)="handlePage($event)">
		</mat-paginator>
		<table>
			<thead>
				<th>Категория</th>
				<th>Описание</th>
				<th><mat-icon>stars</mat-icon></th>
				<th></th>
				<th>Кол-во людей</th>
				<th><button mat-button (click)="addActivity()">Добавить</button></th>
			</thead>
			<tbody>
				<tr *ngFor="let activity of getPageActivities()">
					<td>{{activity.category}}</td>
					<td>{{activity.description}}</td>
					<td>
						{{activity.rate}}
					</td>
					<td>
						<mat-icon>star</mat-icon>
					</td>
					<td>{{activity.usersSubscribed.length}}</td>
					<td><button mat-button (click)="viewActivity(activity)">Посмотреть</button></td>
				</tr>
			</tbody>
		</table>
		<mat-paginator [length]="activities.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[1, 3, 5, 10]"
			[pageIndex]="pageIndex"
            aria-label="Select page"
			(page)="handlePage($event)">
		</mat-paginator>
	</div>
</section>
<app-account *ngIf="page === 'account'"></app-account>
<app-messages *ngIf="page === 'messages'"></app-messages>
<app-settings *ngIf="page === 'settings'"></app-settings>
