:host {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

.navbar {
	width: 100%;
	background-color: #fff;
	display: flex;
	height: 50px;
	justify-content: space-between;

	mat-button-toggle-group {
		height: 50px;
	}

	mat-button-toggle {
		width: 150px;
		font-size: 16px;
		font-weight: 500;
		transition: 1s;
	}

	mat-button-toggle:hover {
		background-color: #b4c0f8;

		::ng-deep .mat-button-toggle-button {
			letter-spacing: 1px;
			transition: .5s;
			color: #fff;
		}
	}

	button {
		width: 200px;
		font-size: 16px;
		&:hover {
			background-color: #b4c0f8;
			border-radius: 0;
			transition: 2s;
			color: #fff;
		}
	}

	::ng-deep .mat-button-toggle-checked {
		background-color: #a3adde;
		color: #fff;
	}

	::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
		border-radius: 0;
	}

	::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
		border-bottom: 0;
		border-top: 0;
	}
}

::ng-deep .mat-snack-bar-container {
	background-color: #fff;
	color: #130101;
	font-weight: 500;
}

::ng-deep .mat-simple-snackbar-action {
	color: #4b48c9;
}

section {
	width: 60%;
	min-width: 500px;
	margin-bottom: 50px;
}

mat-paginator {
	width: 100%;
	// margin: 10px;
	background-color: #a3adde;
	color: #fff;

	::ng-deep .mat-select-value {
		color: #fff;
	}

	&:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&:last-child {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

.main-container {
	margin-top: 25px;
	box-shadow: 0 4px 20px #0000002f;
	border-radius: 8px;
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	animation-duration: 1s;
	animation-name: popOut;
	min-width: 800px;

	@keyframes popOut {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}

	}

	h3 {
		font-size: 24px;
		font-weight: 500;
		margin-top: 20px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-radius: 8px;

		tr  {
			border-top: 2px solid #d8cece;
			border-bottom: 2px solid #d8cece;
			border-radius: 8px;
			text-align: center;
			animation-name: popOut;
			animation-duration: .5s;
		}

		th:nth-child(3) {
			padding-right: 0;
		}

		td {
			padding: 24px;
			font-size: 12px;
			vertical-align: center;
			font-weight: 500;
			text-align: center;
		}

		td:nth-child(2) {
			text-align: left;
			max-width: 100px;
			overflow-x: auto;
		}

		td:first-child, td:nth-child(3), td:nth-child(5) {
			font-size: 16px;
			font-weight: 500;
		}

		td:nth-child(3) {
			mat-icon {
				font-size: 24px;
				height: 24px;
			}
			white-space: nowrap;
			padding-right: 0;
		}

		th:nth-child(4), td:nth-child(4) {
			padding-left: 0;

			mat-icon {
				height: 20px;
			}
		}


		th {
			white-space: nowrap;
			font-size: 16px;
			padding: 24px;
		}

		td:last-child {
			text-align: right;
		}

		th:last-child {
			text-align: right;
		}

		button {
			border: 1px solid #4b48c9;
			color: #4b48c9;
			width: 117px;
		}

		mat-icon {
			color: orange;
		}
	}
}
