<section>
	<div class="activity-image">
		<img *ngIf="!activity.imageName"
			[src]="activity.imageName ? activity.imageName : '../../assets/images/' + 'no-camera.png'"
			width="200" height="200">
	</div>
	<div class="description-container">
		<h3>Описание:</h3>
		<div class="description">
			{{activity.description}}
		</div>
	</div>
	<ul>
		<li>
			<label>Категория:</label>
			{{activity.category}}
		</li>
		<li>
			<label>Рейтинг:</label>
			{{activity.rate}}
		</li>
		<li>
			<label>Кол-во подписанных людей:</label>
			{{activity.usersSubscribed.length}}
		</li>
		<li *ngIf="activity.date">
			<label>Дата:</label>
			{{activity.date.toLocaleDateString()}}
		</li>
		<li *ngIf="activity.date">
			<label>Время:</label>
			{{activity.date.toLocaleTimeString()}}
		</li>
		<li *ngIf="activity.place">
			<label>Место:</label>
			{{activity.place}}
			<a *ngIf="activity.placeUrl" [href]="'https://www.google.com/maps/@' + activity.placeUrl.lat + ',' + activity.placeUrl.lng + ',20z'"
				target="_blank" title="Посмотреть на карте Google">
				<mat-icon>not_listed_location</mat-icon>
			</a>
			<button *ngIf="activity.placeUrl" mat-button class="openstreet-button" (click)="viewMap()">OpenStreetMap</button>
		</li>
		<li>
			<label>Создатель:</label>
			<a *ngIf="activity.userOwner" target="_blank">{{activity.userOwner.name}}</a>
			<a *ngIf="!activity.userOwner">
				Анонимно
			</a>
		</li>
	</ul>
</section>
<div class="footer">
	<button mat-button mat-dialog-close>Закрыть</button>
	<button mat-button *ngIf="!isSubscribed()" (click)="subscribe()">
		Подписаться
		<mat-icon>person_add</mat-icon>
	</button>
	<button mat-button *ngIf="isSubscribed()" (click)="unsubscribe()">
		Отписаться
		<mat-icon>person_outline</mat-icon>
	</button>
</div>
