<section [ngClass]="getNightMode() ? 'night-mode' : ''">
	<h3>Настройки</h3>
	<table>
		<tbody [formGroup]="form">
			<tr>
				<td>Ночная тема</td>
				<td>
					<mat-slide-toggle (change)="handleNightMode($event.checked)" formControlName="isNightMode">
					</mat-slide-toggle>
				</td>
			</tr>
			<tr>
				<td><button mat-button [ngClass]="getNightMode() ? 'night-mode' : ''" (click)="changePassword()">Сменить пароль</button></td>
				<td><button mat-button [ngClass]="getNightMode() ? 'night-mode' : ''" (click)="changeEmail()">Сменить почту</button></td>
			</tr>
			<tr>
				<td colspan="2"><button mat-button [ngClass]="getNightMode() ? 'night-mode' : ''" (click)="deleteAccount()">Удалить аккаунт</button></td>
			</tr>
		</tbody>
	</table>
</section>
