:host {
	margin-top: 25px;
	box-shadow: 0 4px 20px #0000002f;
	animation-duration: 1s;
	animation-name: popOut;
	min-width: 500px;
	height: 100%;
	margin-bottom: 50px;

	@keyframes popOut {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}

	}
}

section {
	padding: 24px 40px;
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	border-radius: 8px;

	&.night-mode {
		background-color: var(--night-second-theme-color) !important;
		border: 1px solid #d8cece;
	}
}

h3 {
	font-weight: 500;
	font-size: 24px;
}

table {
	width: 100%;
	font-size: 20px;
	font-weight: 500;

	tr:first-of-type {
		td:last-of-type {
			text-align: right;
		}
	}

	td {
		padding-bottom: 32px;
	}

	// tr:nth-child(2) {
	// 	td {
	// 		text-align: right;
	// 	}
	// }

	tr:nth-child(2) {
		td:nth-child(1) {
			text-align: left;
		}

		td:nth-child(2) {
			text-align: right;
		}
	}

	tr:nth-child(3) {
		td {
			text-align: right;
		}
	}
}

button {
	border: 1px solid #4b48c9;
	color: #4b48c9;
	width: 150px;

	&.night-mode {
		border: 1px solid #fff !important;
		color: #fff !important;
	}
}
